In [4]:
import sqlite3
con = sqlite3.connect("cafe.db", check_same_thread=False)
cur = con.cursor()
drinks = [
    ["Espresso", "Coffee", "Small", 2.50],
    ["Americano", "Coffee", "Medium", 3.00],
    ["Cappuccino", "Coffee", "Large", 3.50],
    ["Latte", "Coffee", "Medium", 3.25],
    ["Mocha", "Coffee", "Large", 4.00],
    ["Iced Coffee", "Cold Drink", "Medium", 3.75],
    ["Smoothie", "Cold Drink", "Large", 4.50],
    ["Green Tea", "Tea", "Small", 2.00],
    ["Chai Latte", "Tea", "Medium", 3.25],
    ["Herbal Tea", "Tea", "Small", 2.25],
    ["Hot Chocolate", "Hot Drink", "Medium", 3.00],
    ["Caramel Macchiato", "Coffee", "Large", 4.25]
]
try:
	cur.executescript('''
	BEGIN;
	create table if not exists employee (
		emp_id INTEGER PRIMARY KEY,
		emp_name VARCHAR(20) NOT NULL,
		emp_position VARCHAR(255) NOT NULL,
		emp_phonenum VARCHAR(20)
	);

	create table if not exists customer (
		cust_id INTEGER PRIMARY KEY,
		cust_firstname varchar(10) NOT NULL,
		cust_lastname varchar(10) NOT NULL,
		cust_phonenum VARCHAR(20)
	);

	create table if not exists item (
		item_id INTEGER PRIMARY KEY,
		item_name varchar(50)  NOT NULL , 
		item_cat varchar(50)  NOT NULL ,
		item_size varchar(20)  ,
		item_price decimal(7,2)  NOT NULL
	);

	create table if not exists orders (
		order_id INTEGER PRIMARY KEY,
		emp_id int,
		order_ts timestamp DEFAULT CURRENT_TIMESTAMP,
		cust_id int,
		quantity int not null,
		total_price DECIMAL(10,2) not null,
		foreign key (emp_id) references employee(emp_id),
		foreign key (cust_id) references customer(cust_id)
	);

	create table if not exists orderItems (
		order_item_id INTEGER PRIMARY KEY, 
		order_id INT not null,
		item_id INT not null,
		quantity INT not null,
		foreign key (order_id) references orders(order_id),
		foreign key (item_id) references items(item_id)
	); ''')
	con.commit()
except sqlite3.OperationalError as e:
	print("Operational Error: ", e)

In [ ]:
# cur.execute("DELETE from employee")
# cur.execute("INSERT INTO employee VALUES (1, 'Me', 'Manager', '1234567890')")

# res = cur.execute("select * from employee")
# res.fetchall()
# cur.close()

In [2]:
def add_item(con, item_name, item_category, item_size, item_price):
	cur = con.cursor()
	cur.execute("INSERT into item (item_name, item_cat, item_size, item_price) values (?, ?, ?, ?)", (item_name, item_category, item_size, item_price))
	con.commit()
	cur.close()



for drink in drinks: 
	add_item(con, drink[0], drink[1], drink[2], drink[3])

In [7]:
cur = con.cursor()
res = cur.execute("SELECT * from orders")
print(res.fetchall())
res = cur.execute("SELECT * from orderItems")
print(res.fetchall())

[(1, 1, '2025-01-09 21:12:48', 1, 2, 7.75)]
[(1, 1, 7, 1), (2, 1, 4, 1)]

In [3]:
cur.close()
con.close()